html, body, .container-fluid {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    font-family: 'Barlow', sans-serif;
}

.text-center {
    text-align: center;
}

table {
    width: 90%;
}

table th {
    text-align: center;

    font-size: 1.5em;
    font-weight: 700;
}

table td {
    text-align: center;
    font-size: 1.5em;
    width: 33%;
}

.addRemoveBtnContainer {
    width: 100%;
    height: 100%;
}

.productModal {
    height: 100vh;
    width: calc(100vw - 350px);
    position: fixed;
    top: 0;
    right: 0;
    z-index: 5;
    background-color: white;
    overflow-y: auto;
}

@media (max-width: 768px) {
    table {
        width: 100%;
    }

    table th {
        font-size: 1.3em;
    }

    table td {
        font-size: 1.3em;
    }

    .productModal {
        height: 100vh;
        width: 100vw;
    }
}