html, body, .container-fluid {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    font-family: 'Barlow', sans-serif;
}

.text-center {
    text-align: center;
}

.contactLower {
    background-color: #f05454;
    color: white;
}
