html, body, .container-fluid {
    margin: 0;
    padding: 0;
    overflow: hidden;
    font-family: 'Barlow', sans-serif;
}

#map {
    height: 100vh;
    /* The height is 400 pixels */
    width: 100vw;
    /* The width is the width of the web page */
}

