html, body, .container-fluid {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    font-family: 'Barlow', sans-serif;
}

.topImageContainer {
    width: 100%;
    height: 30vh;

    background-color: #f05454;
}

.topImageContainer .textContainer {
    width: 100%;
    height: 100%;
    position: relative;
}

.topImageContainer .textContainer h1{
    width: 100%;
    top: 40%;
    left: 0;
    position: absolute;
    text-align: center;
}

.checkmarksContainer {
    width: 100%;
    background-color: #f05454;
    color: white;
}

.text-center {
    text-align: center;
}

.colImg {
    width: 70%;
    height: auto;
}

.webbshopBtn {
    width: 100%;
    font-size: 1.3em;
    font-weight: 400;
}

.webbshopBtn:hover {
    border: 2px solid white;
    background-color: #f05454;
}




@media (max-width: 768px) {
    .colImg {
        width: 100%;
    }
}