#sidebar {
    /* don't forget to add all the previously mentioned styles here too */
    background: white;
    color: black;
    position: relative;
    height: 100vh;
    transition: all 0.3s ease-in-out;
    min-width: 350px;
    max-width: 350px;
}

.sidebarContainer {
    position: fixed;
    min-width: 350px;
    max-width: 350px;
    height: 100vh;
}

#sidebar .sidebar-header {
    padding: 20px;
    background: white;
}

#sidebar ul.components {
    padding: 20px 0;
    border-bottom: 1px solid white;
}

#sidebar ul p {
    color: black;
    padding: 15px;
}

#sidebar ul li a {
    padding: 10px;
    font-size: 1.7em;
    display: block;
    transition: all 0.1s ease-in-out;
}

#sidebar ul li a:hover {
    color: black;
    background-color: #f05454;
    color: white;
    transition: all 0.1s ease-in-out;
}

#sidebar ul li a.active {
    background-color: #f05454;
    color: white;
}

#sidebar ul li.active > a, a[aria-expanded="true"] {
    color: black;
    background-color: white;
}

ul ul a {
    font-size: 1.3em !important;
    padding-left: 30px !important;
    background: white;
}

.navbarLower {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
}

#sidebar .sidebarCollapseButton {
    border-top: 3px solid black;
    border-radius: 0;
}

.shoppingCartBtn {
    padding-top: 20px;
    padding-bottom: 20px;
    background-color: white;
    color: black;
    border-bottom: 0;
    border-left: 0;
    border-right: 0;
    border-top: 1px solid black;
    border-right: 1px solid black;
    border-radius: 0;
    vertical-align: center;
    font-size: 1.5em;
}

.shoppingCartBtn:hover {
    background-color: #f05454;
}

.sidebarCollapseButton {
    background-color: white;
    color: black;
    border-bottom: 0;
    border-left: 0;
    border-right: 0;
}

.sidebarCollapseButton:hover {
    background-color: #f05454;
}

.wrapper {
    display: flex;
    width: 100vw;
    overflow: hidden;
}

.content {
    width: calc(100% - 350px);
}

#sidebar.active {
    transition: all 0.3s ease-in-out;
    margin-left: -350px;
}


p {
    font-size: 1.1em;
    font-weight: 400;
    line-height: 1.7em;
    color: black;
}

a, a:hover, a:focus {
    color: inherit;
    text-decoration: none;
    transition: all 0.3s;
}


@media (max-width: 768px) {
    #sidebar {
        min-width: 100vw;
        max-width: 100vw;
        margin-left: -100vw;
    }
    #sidebar.active {
        margin-left: 0;
    }

    .content {
        width: 100vw;
    }
}