html, body, .container-fluid {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    font-family: 'Barlow', sans-serif;
}

.text-center {
    text-align: center;
}

.productModal {
    position: fixed;
    width: calc(100vw - 350px);
    height: 100vh;
    background-color: white;
    z-index: 99;
    top: 0;
    bottom: 0;
    right: 0;
    position: fixed;
}

.modalWrapper {
    width: 100%;
    height: 100vh;
    background-color: white;
    overflow-y: auto;
    position: relative;
}

.productBigImg {
    width: 90%;
}

.closeModalBtn {
    position: absolute;
    top: 0;
    right: 0;
}

.closeModalBtn h4 {
    font-size: 1.8em;
}

@media (max-width: 768px) {
    .productModal {
        width: 100vw;
        height: 100vh;
    }

    .closeModalBtn h4 {
        font-size: 1em;
    }
}