<!DOCTYPE html>
<html lang="sv">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css"
        integrity="sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Barlow:ital,wght@1,400;1,900&display=swap" rel="stylesheet">
    <script defer src="https://use.fontawesome.com/releases/v5.0.13/js/solid.js"
        integrity="sha384-tzzSw1/Vo+0N5UhStP3bvwWPq+uvzCMfrN1fEFe+xBmv1C/AtVX5K0uZtmcHitFZ"
        crossorigin="anonymous"></script>
    <script defer src="https://use.fontawesome.com/releases/v5.0.13/js/fontawesome.js"
        integrity="sha384-6OIrr52G08NpOFSZdxxz1xdNSndlD4vdcf/q2myIUVO0VsqaGHJsB0RaBE01VTOY"
        crossorigin="anonymous"></script>
    <script src="https://js.stripe.com/v3/"></script>
    <link rel="stylesheet" href="./css/confirmOrder.css">
    <link rel="stylesheet" href="./css/navbar.css">
    <title>VVS-Teamet.se</title>
</head>

<body>
    <div class="wrapper">
        <!-- Sidebar -->
        <nav id="sidebar">
            <div class="sidebarContainer">
                <div class="sidebar-header">
                    <img src="/images/logo.jpg" alt="företags logotyp" width="100%" class="d-block mx-auto">
                </div>

                <ul class="list-unstyled components">
                    <li>
                        <a href="/">Hem</a>
                    </li>
                    <li>
                        <a href="/shop">Webb Shop</a>
                    </li>
                    <li>
                        <a href="/hitta">Hitta Oss</a>
                    </li>
                    <li>
                        <a href="/kontakta">Kontakta Oss</a>
                    </li>
                </ul>

                <div class="navbarLower">
                    <a href="/orderBekraftning"
                        class="shoppingCartBtn btn btn-danger d-flex flex-nowrap justify-content-center align-items-center">
                        Kundvagnen <i class="fas fa-shopping-cart fa-2x"></i>
                    </a>
                    <button class="sidebarCollapseButton btn btn-danger d-block d-md-none d-lg-none d-xl-none">
                        <i class="fas fa-times"></i>
                    </button>
                </div>
            </div>
        </nav>

        <div class="content">
            <div class="container-fluid" id="shopConfirm">
                <div class="productModal" v-if="modalOpen">
                    <div class="modalWrapper">
                        <div class="container">

                            <h1 class="text-center mt-5 mb-5">Kontakt Information</h1>

                            <p class="text-center">
                                Då vi behöver kunna kontakta dig så ber vi dig skriva in din kontakt
                                information samt
                                godkänna våra villkor sedan gå vidare med betalningen.
                            </p>

                            <div class="form-group">
                                <label for="firstName">Förnamn</label>
                                <input type="text" class="form-control" id="firstName" aria-describedby="firstName"
                                    placeholder="Skriv ditt förnamn" v-model="firstName">
                            </div>

                            <div class="form-group">
                                <label for="lastName">Efternamn</label>
                                <input type="text" class="form-control" id="lastName" aria-describedby="lastName"
                                    placeholder="Skriv ditt efternamn" v-model="lastName">
                            </div>

                            <div class="form-group">
                                <label for="email">Email</label>
                                <input type="email" class="form-control" id="email" aria-describedby="email"
                                    placeholder="Skriv din email adress" v-model="email">
                            </div>

                            <div class="form-group">
                                <label for="phoneNr">Telefon Nummer</label>
                                <input type="number" class="form-control" id="phoneNr" aria-describedby="phoneNr"
                                    placeholder="072232323" v-model="phoneNr">
                            </div>

                            <div class="custom-control custom-checkbox">
                                <input type="checkbox" class="custom-control-input" id="checkboxAgree"
                                    v-model="agreedToTerms">
                                <label class="custom-control-label" for="checkboxAgree">
                                    <a href="/termsandconditions">
                                        Jag godkänner villkoren för denna sidan (klicka här för att se dem)
                                    </a>
                                </label>
                            </div>

                            <button v-on:click="checkOut()" class="btn btn-success">Betala</button>

                        </div>
                    </div>
                </div>

                <h1 class="text-center mt-5 mb-5">Varukorg</h1>

                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th scope="col">Namn</th>
                            <th scope="col">Antal</th>
                            <th scope="col">Pris</th>
                            <th scope="col">Ändra</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr v-for="product in cart" :key="product.id">
                            <td>{{ product.name }} <br /> Art Nr: {{ product.id }}</td>
                            <td>{{ product.amount }}</td>
                            <td>Totalt: {{ product.price*product.amount }}kr <br /> {{ product.price }}kr st</td>
                            <td>
                                <div class="d-flex justify-content-center align-items-center addRemoveBtnContainer">
                                    <button class="btn btn-success mr-2 mr-md-4 mr-lg-4 mr-xl-4"
                                        v-on:click="addItem(product.id)"><i class="fas fa-plus"></i></button>
                                    <button class="btn btn-danger" v-on:click="removeItem(product.id)"><i
                                            class="fas fa-minus"></i></button>
                                </div>
                            </td>
                        </tr>
                    </tbody>
                    <tfoot>
                        <tr>
                            <td colspan="2">Totala Priset: {{ totalPrice }}</td>
                            <td colspan="2"><button id="checkout-button" v-on:click="modalOpen = true"
                                    v-if="totalPrice > 1" class="btn btn-success">Fortsätt
                                    Till
                                    Betalning</button></td>
                        </tr>
                    </tfoot>
                </table>
            </div>
        </div>

    </div>

    <!-- jQuery and JS bundle w/ Popper.js -->
    <script src="https://code.jquery.com/jquery-3.5.1.min.js"
        integrity="sha256-9/aliU8dGd2tb6OSsuzixeV4y/faTqgFtohetphbbj0=" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-ho+j7jyWK8fNQe+A12Hb8AhRq26LrZ/JpcUGGOn+Y7RsweNrtN/tE3MoK7ZeZDyx"
        crossorigin="anonymous"></script>

    <!-- OTHER -->
    <script src="https://unpkg.com/vue@3.0.4/dist/vue.global.js"></script>


    <script src="./js/confirmOrder.js"></script>
    <script src="./js/navbar.js"></script>
</body>

</html>