<!DOCTYPE html>
<html lang="sv">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css"
        integrity="sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Barlow:ital,wght@1,400;1,900&display=swap" rel="stylesheet">
    <script defer src="https://use.fontawesome.com/releases/v5.0.13/js/solid.js"
        integrity="sha384-tzzSw1/Vo+0N5UhStP3bvwWPq+uvzCMfrN1fEFe+xBmv1C/AtVX5K0uZtmcHitFZ"
        crossorigin="anonymous"></script>
    <script defer src="https://use.fontawesome.com/releases/v5.0.13/js/fontawesome.js"
        integrity="sha384-6OIrr52G08NpOFSZdxxz1xdNSndlD4vdcf/q2myIUVO0VsqaGHJsB0RaBE01VTOY"
        crossorigin="anonymous"></script>
    <link rel="stylesheet" href="./css/shop.css">
    <link rel="stylesheet" href="./css/navbar.css">
    <title>VVS-Teamet.se</title>
</head>

<body>
    <div class="wrapper">
        <!-- Sidebar -->
        <nav id="sidebar">
            <div class="sidebarContainer">
                <div class="sidebar-header">
                    <img src="/images/logo.jpg" alt="företags logotyp" width="100%" class="d-block mx-auto">
                </div>

                <ul class="list-unstyled components">
                    <li>
                        <a href="/">Hem</a>
                    </li>
                    <li>
                        <a class="active" href="/shop">Webb Shop</a>
                    </li>
                    <li>
                        <a href="/hitta">Hitta Oss</a>
                    </li>
                    <li>
                        <a href="/kontakta">Kontakta Oss</a>
                    </li>
                </ul>

                <div class="navbarLower">
                    <a href="/orderBekraftning"
                        class="shoppingCartBtn btn btn-danger d-flex flex-nowrap justify-content-center align-items-center">
                        Kundvagnen <i class="fas fa-shopping-cart fa-2x"></i>
                    </a>
                    <button class="sidebarCollapseButton btn btn-danger d-block d-md-none d-lg-none d-xl-none">
                        <i class="fas fa-times"></i>
                    </button>
                </div>
            </div>
        </nav>

        <div class="content" id="shop">
            <div class="container-fluid">
                <div class="productModal" v-if="modalOpen">
                    <div class="modalWrapper">
                        <button class="btn btn-danger d-block closeModalBtn mr-3 mt-3" v-on:click="modalOpen = false">
                            <h4>Stäng</h4>
                        </button>
                        <h1 class="mt-5 mb-5 text-center">Produkt Sida</h1>

                        <div class="row mx-0">
                            <div
                                class="col-xs-12 col-sm-12 col-md-6 col-lg-6 col-xl-6 d-flex justify-content-center align-items-center">
                                <img v-bind:src="selectedProduct[0].bigImgSrc" alt="bild på produkt"
                                    class="productBigImg d-block mx-auto">
                            </div>
                            <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 col-xl-6">
                                <h1 class="text-center">{{ selectedProduct[0].name }}</h1>
                                <p class="text-center">Artikel nummer: {{ selectedProduct[0].id }}</p>
                                <p class="text-center">{{ selectedProduct[0].description }}</p>

                                <button class="btn btn-success d-block mx-auto mt-5"
                                    v-on:click="addToCart(selectedProduct[0].id, selectedProduct[0].name)">Lägg Till I
                                    Kundvagnen</button>
                            </div>
                        </div>
                    </div>
                </div>


                <h1 class="text-center mt-5 mb-5">Webb Shop</h1>

                <div class="input-group mb-3">
                    <div class="container">
                        <select class="custom-select" id="categorySelect" v-model="selectedCategory"
                            v-on:change="switchCategory();">
                            <option v-bind:value="category.id-1" v-for="category in categories" v:key="category.id">
                                {{ category.name}}
                            </option>
                        </select>
                    </div>
                </div>

                <div v-if="loaded"
                    class="productsDisplayContainer d-flex d-flex justify-content-around justify-content-md-start d-flex justify-content-lg-start d-flex justify-content-xl-start flex-wrap">
                    <div class="card mx-3 my-3" style="width: 18rem;"
                        v-for="product in categories[selectedCategory].products" :key="product.id">
                        <img class="card-img-top" v-bind:src="product.smallImgSrc" alt="bild på produkt">
                        <div class="card-body">
                            <h5 class="card-title">{{ product.name }}</h5>
                            <p class="card-text">{{ product.shortDescription }}</p>
                            <button v-on:click="showProduct(product.id)" class="btn btn-success">Bara
                                {{ product.price }}kr</button>
                        </div>
                    </div>
                </div>

            </div>
        </div>

    </div>

    <!-- jQuery and JS bundle w/ Popper.js -->
    <script src="https://code.jquery.com/jquery-3.5.1.min.js"
        integrity="sha256-9/aliU8dGd2tb6OSsuzixeV4y/faTqgFtohetphbbj0=" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-ho+j7jyWK8fNQe+A12Hb8AhRq26LrZ/JpcUGGOn+Y7RsweNrtN/tE3MoK7ZeZDyx"
        crossorigin="anonymous"></script>

    <!-- OTHER -->
    <script src="https://unpkg.com/vue@3.0.4/dist/vue.global.js"></script>

    <script src="./js/shop.js"></script>
    <script src="./js/navbar.js"></script>

</body>

</html>